/* ---------- General Styles */

body {
    min-height: 100vh;
    background-color: #22577A;
    font-family: 'oxygen', sans-serif;
    text-align: center;
    color: #F8F7F2;
}

.red {
    background-color: #FB3240;
    border: 3px solid #000000;
}

/* ---------- Heading */

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'dosis', sans-serif;
    font-size: 3rem;
    width: 200px;
    padding: 10px;
}

/* ---------- Game Area */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-area { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
    background-color: #F8F7F2;
    border: 3px solid #000000;
}

.rules-box {
    width: 75%;
    height: 75%;
}

.img1 {
    max-width: 50px; 
}

#message {
    height: 25px;
    color: #FB3240;
}

#dice {
    width: 75px;
    height: 75px;
    margin: 1rem;
}

.rules-box > p {
    padding: 10px;
}

.score-area > p {
    padding: 5px;
}

/* ---------- Buttons */

.btn {
    background-color: #22577A;
    color: #F8F7F2;
    border: 3px solid #000000;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #FB3240;
}

.btn--choice {
    margin: 0 1rem 1rem 1rem;
    padding: 0 10px;
}

/* ---------- Media Queries */

/* ---------- Media Query: Tablets and larger (768px and up) */

@media screen and (min-width: 768px) {

    /* ---------- Game Area */

    .rules-box {
        max-width: 500px;
        max-height: 500px;
    }

    .score-area {
        display: flex;
        flex-direction: row;
    }

    .score {
        margin: 1rem;
    }
}

/* ---------- Media Query: Laptops and larger (1024px and up) */

@media screen and (min-width: 1024px) {

    /* ---------- Game Area */

    .game-area {
        max-width: 600px;
        max-height: 600px;
    }
}

