/* ---------- General Styles */

body {
    min-height: 100vh;
    background-color: #22577A;
    font-family: 'oxygen', sans-serif;
    text-align: center;
    color: #F8F7F2;
}

.red {
    background-color: #FB3240;
    border: 3px solid #000000;
}

.rules-box > p {
    padding: 10px;
}

.score-area > p {
    padding: 5px;
}

/* ---------- Heading */

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'dosis', sans-serif;
    font-size: 3rem;
    width: 200px;
    padding: 10px;
}

/* ---------- Game Area */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-area { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
    background-color: #F8F7F2;
    border: 3px solid #000000;
}

.rules-box {
    width: 75%;
    height: 75%;
}

#dice {
    width: 75px;
    height: 75px;
    margin: 1rem;
}

.btn {
    background-color: #22577A;
    color: #F8F7F2;
    border: 3px solid #000000;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #FB3240;
}

.btn--roll {
    margin-bottom: 1.5rem;
}

.btn--choice {
    margin: 0 1rem 1rem 1rem;
    padding: 0 10px;
}